/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: #35495e;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    flex: 1;
    padding-left: 20px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-right {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.navbar-links li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #f39c12;
}

/* Product Details Styles */
.product-details {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.product-details-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-details iframe{
    width: 100%;
    min-height: 400px;
    height: auto;
    margin-bottom: 20px;
}

.product-title {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.product-description {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.product-features h2,
.product-advantages h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-features ul,
.product-advantages ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    color: #555;
}

.back-to-products {
    display: inline-block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-to-products:hover {
    color: #555;
}

/* Footer Styles */
footer {
    background-color: #35495e;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #fff;
}
